button{
background-color:#3283ce;
font: bolder;
font-weight: 200;
font-size: 15px;
font-style: normal;
font-family: Arial, Helvetica, sans-serif;
color: snow;
height:40px;
width: 80px;
border-radius: 5px;
border: 0px;
}

button:focus{
    border: 0px solid snow;
    font-size: 20;
    height:45px;
width: 85px;
}

input{
    padding: 15px;
    margin: 25px;
    width: 450px;
    height:10px;
    border-color: white;
    border:0px;
    border-radius: 5px;
    box-shadow:inset 0 -3em 3em rgba(0, 0,0,0),
    0 0 0 2px rgba(255, 255,255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: larger;
    font-weight: 150;
    font-style: normal;
    font-family: sans-serif;
    color: rgb(104, 180, 211);

}
li{
    box-sizing: border-box;
    list-style: none;
     
    border-radius: 5px;
    width: 255px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    box-shadow:inset 0 -3em 3em rgba(0, 0,0,0),
    0 0 0 2px rgba(255, 255,255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    color: #313b46;
    z-index: 2;

}
.wrapper{
    display:grid;
     grid-template-columns: repeat(4,minmax(200px,1fr));
     position: relative;
     top: 90px;
}

img{
    max-width: 250px;
    height:200px;
    object-fit: cover;
    
}
img:hover{
        -webkit-filter: grayscale(50%) blur(1px);
        filter: grayscale(50%) blur(1px);
        transition: .7s ease-in-out;
        cursor: pointer;
}
.show{
    size: 10px;
    background-color: rgba(235, 49, 49, 0.774);
    color: snow;
    position: relative;
    left: 5px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
width: 100%;
    height: 75px;
    background-color: #3283ce;
    text-align: left;
    overflow:hidden;
    z-index: 1;
}
.inputbox{
    position: relative;
    top:90px
}
h1{
    padding-left: 25px;
    color:snow;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    background-color: rgb(51, 192, 192);
}